::-webkit-scrollbar {
    width: 3px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #191634;
    /* Set the track color */
}

/* Customize the scrollbar thumb (handle) */
::-webkit-scrollbar-thumb {
    background-color: #473beb;
    /* Set the thumb color */
    border-radius: 2vw;
    /* Add rounded corners */
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, #C1B6FB, #8170DD);
}

.gradient-rectangle {
    width: 80%;
    /* 80% of the body's width */
    height: 0;
    /* Height is set to 0 to start with */
    padding-bottom: 45%;
    /* 16:9 aspect ratio, calculated as (9 / 16) * 80% */
    background: linear-gradient(to right, #1F1B41, #191634);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3vw;
}

.sidebar {
    width: 6.5%;
    /* 10% of the rectangle's width */
    height: 96%;
    /* 96% of the rectangle's height minus the top and bottom margins */
    margin: 1% 0 1% 1%;
    /* Shorthand for margin-top, margin-right, margin-bottom, and margin-left */
    background: #211D44;
    /* Sidebar color */
    position: absolute;
    top: 0%;
    /* Adjusted to account for the margin */
    left: 0;
    /* Align to the left side */
    border-radius: 1.5vw;
}

#searchBar form {
    width: 92%;
    margin: 2% 2% 0% 2%;
    /* Shorthand for margin-top, margin-right, margin-bottom, and margin-left */
    justify-content: center;
    border: none;
}

#searchBar input {
    width: 95%;
    height: 43.25%;
    position: absolute;
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    color: white;
    background-color: rgb(12, 11, 41);
    border: 0px;
    border-radius: 0.75vw;
}

#searchBar button {
    width: 96%;
    height: 43.25%;
    margin: 19% 2% 0% 0%;
    position: absolute;
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #473beb;
    border: 0px;
    border-radius: 0.75vw;
    transition: background-color 0.3s ease;
}

#searchBar button:hover {
    background-color: rgb(255, 0, 0);
}

.searchbar {
    width: 35%;
    /* 10% of the rectangle's width */
    height: 25%;
    /* 96% of the rectangle's height minus the top and bottom margins */
    margin: 10% 0 1% 9%;
    /* Shorthand for margin-top, margin-right, margin-bottom, and margin-left */
    background: #24204B;
    /* Sidebar color */
    position: absolute;
    top: 0%;
    /* Adjusted to account for the margin */
    left: 0;
    /* Align to the left side */
    border-radius: 1.5vw;
}

.searchspace {
    width: 35%;
    /* 10% of the rectangle's width */
    height: 25%;
    /* 96% of the rectangle's height minus the top and bottom margins */
    margin: 10% 0 1% 9%;
    /* Shorthand for margin-top, margin-right, margin-bottom, and margin-left */
    background: #24204B;
    /* Sidebar color */
    position: absolute;
    top: 0%;
    /* Adjusted to account for the margin */
    left: 0;
    /* Align to the left side */
    border-radius: 1.5vw;
}

.downloadspace {
    overflow-y: auto;
    overflow-x: hidden;
    width: 35%;
    /* 10% of the rectangle's width */
    height: 50%;
    /* 96% of the rectangle's height minus the top and bottom margins */
    margin: 27% 0 1% 9%;
    /* Shorthand for margin-top, margin-right, margin-bottom, and margin-left */
    background: #24204B;
    /* Sidebar color */
    position: absolute;
    top: 0%;
    /* Adjusted to account for the margin */
    left: 0;
    /* Align to the left side */
    border-radius: 1.5vw;
}

.resultspace {
    overflow-y: auto;
    overflow-x: hidden;
    width: 52%;
    /* 10% of the rectangle's width */
    height: 95%;
    /* 96% of the rectangle's height minus the top and bottom margins */
    margin: 2% 0 1% 46%;
    /* Shorthand for margin-top, margin-right, margin-bottom, and margin-left */
    background: #24204B;
    /* Sidebar color */
    position: absolute;
    top: 0%;
    /* Adjusted to account for the margin */
    left: 0;
    /* Align to the left side */
    border-radius: 1.5vw;
}

.item {
    margin: 3% 3% 0% 3%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;
    border: 1px solid #830000;
    border-radius: 1.5vw;
    position: relative;
}

.thumbnail-button {
    border-right: 1px solid #cccccc;
    cursor: pointer;
    width: 120px;
    height: 68px;
    margin-right: 3%;
    border: 0px;
    border-radius: 1vw;
}

.video-info {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-title {
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    color: #e6e9d9;
    margin-bottom: 3%;
    border-bottom: 1px solid #3cdf2d;
}

.video-description {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    /* padding-top: 5px; */
}

.audioButton {
    display: inline-block;
    width: 18%;
    /* 50% of the sidebar's width */
    height: 50%;
    /* Adjust the height as needed */
    background: #a5a9d4;
    /* Sidebar color */
    /* Initial border color */
    border-radius: 1.25vw;
    /* Makes it round */
    align-items: flex-start;
    position: absolute;
    bottom: 4%;
    right: 1%;
    transition: background-color 0.2s ease;
    /* Smooth border color transition */
}

.audioButton:hover {
    background-color: #ddeb1a;
    /* Border color on hover */
}

.medias {
    margin: 2% 2% 0% 2%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 11%;
    background: #1F1B41;
    align-items: flex-start;
    border: 1px solid #46006e;
    border-radius: 0.9vw;
}

.media-title {
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    color: #e6e9d9;
    text-align: left;
    margin-bottom: 2%;
    padding-top: 6px;
    padding-left: 8px;
}

/* Round button */
.button {
    width: 50%;
    /* 50% of the sidebar's width */
    height: 6%;
    /* Adjust the height as needed */
    background: #211D44;
    /* Sidebar color */
    border: 1px solid #4A57FC;
    /* Initial border color */
    border-radius: 50%;
    /* Makes it round */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 2.5%;
    /* Positioned at the top of the sidebar */
    left: 50%;
    /* Centered horizontally within the sidebar */
    transform: translateX(-50%);
    /* Adjusted to center horizontally */
    transition: border-color 0.3s ease;
    /* Smooth border color transition */
}

/* Hover effect */
.button:hover {
    border-color: #F0487C;
    /* Border color on hover */
}

/* Icon styling */
.button .icon {
    font-size: 1em;
    color: white;
}

.sidebar-button {
    width: 25%;
    /* 25% of the sidebar's width */
    height: 6%;
    /* Fixed height */
    background: #211D44;
    /* Same as sidebar color */
    border: none;
    /* No border */
    border-radius: 50%;
    /* Round shape */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Align center */
    color: white;
    /* Icon color */
    font-size: 1em;
    /* Icon size */
    top: 30%;
    margin-top: 50%;
    /* Space between buttons */
}

.page-title {
    margin: 2% 0 1% 9%;
    position: absolute;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    color: #ff0000;
    /* Neon text color */
}

.switch {
    position: absolute;
    display: flex;
    right: 24%;
    bottom: 2%;
    margin-top: 4px;
    margin-left: 40px;
    width: 50%;
    height: 6%;
    border: 1px solid #dcdcdc;
    background: #f0f0f0;
    /* box-shadow: 2px 2px 7px #bebebe, -2px -2px 7px #ffffff; */
    overflow: hidden;
    border-radius: 60px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.125s;
    transition: 0.125s;
}

input:checked+.slider:before {
    background: white;
    box-shadow: none;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

.slider {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7px;
    font-family: sans-serif;
}

.slider--0 {
    color: white;
    font-weight: 600;
    background-color: #630027;
}

.slider--1 div {
    transition: 0.125s;
}

.slider--1 div {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
}

input:checked~.slider--1 div:first-child {
    transform: translateY(-100%);
    transition-delay: 0.125s;
}

input:checked~.slider--1 div:last-child {
    transform: translateY(100%);
    transition-delay: 0.125s;
}

input:checked~.slider--2 {
    transform: translateX(100%);
    transition-delay: 0.125s;
}

input:checked~.slider--3 {
    transform: translateX(-100%);
    transition-delay: 0s;
}

.slider--1 div:first-child {
    transform: translateY(0);
    top: 0;
    background-color: #f3f3f3;
    transition-delay: 0s;
}

.slider--1 div:last-child {
    transform: translateY(0);
    bottom: 0;
    background-color: #f3f3f3;
    border-top: 1px solid #e0e0e0;
    transition-delay: 0s;
}

.slider--2 {
    background-color: #e6e6e6;
    transition-delay: 0.125s;
    transform: translateX(0);
    border-left: 1px solid #d2d2d2;
}

.slider--3 {
    background-color: #29f1f1;
    transition-delay: 0.125s;
    transform: translatex(0);
    border-right: 1px solid #d2d2d2;
}

/* -------- Switch Styles ------------*/
[type="checkbox"] {
    display: none;
}

/* Toggle */
[type="checkbox"]:checked+.app .toggle {
    transform: translateX(100%);
    background-color: #34323d;
}

[type="checkbox"]:checked+.app .dark {
    opacity: 1;
}

[type="checkbox"]:checked+.app .light {
    opacity: 0.5;
}

/* App */
[type="checkbox"]:checked+.app .body {
    background-color: #26242e;
    color: white;
}

/* Circle */
[type="checkbox"]:checked+.app .crescent {
    transform: scale(1);
    background: #26242e;
}

[type="checkbox"]:checked+.app .circle {
    background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
}

[type="checkbox"]:checked+.app .main-circle {
    background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
}

/* Fab */
[type="checkbox"]:checked+.app .fab {
    background-color: #34323d;
}

[type="checkbox"]:checked+.app .arrow,
[type="checkbox"]:checked+.app .mark,
[type="checkbox"]:checked+.app .battery {
    background-color: white;
}

[type="checkbox"]:checked+.app .network {
    border-color: transparent transparent white transparent;
}

[type="checkbox"]:checked+.app .swipe {
    background-color: #34323d;
    opacity: 1;
}